@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 60 14% 96%;
    --card: 0 0% 10%;
    --card-foreground: 60 14% 96%;
    --popover: 0 0% 7%;
    --popover-foreground: 60 14% 96%;
    --primary: 98 96% 66%;
    --primary-foreground: 98 100% 5%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 60 14% 96%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 56%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 98 96% 66%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 60 14% 96%;
    --sidebar-primary: 98 96% 66%;
    --sidebar-primary-foreground: 98 100% 5%;
    --sidebar-accent: 0 0% 15.9%;
    --sidebar-accent-foreground: 60 14% 96%;
    --sidebar-border: 0 0% 15.9%;
    --sidebar-ring: 98 96% 66%;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 60 14% 96%;
    --card: 0 0% 10%;
    --card-foreground: 60 14% 96%;
    --popover: 0 0% 7%;
    --popover-foreground: 60 14% 96%;
    --primary: 98 96% 66%;
    --primary-foreground: 98 100% 5%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 60 14% 96%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 56%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 98 96% 66%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 60 14% 96%;
    --sidebar-primary: 98 96% 66%;
    --sidebar-primary-foreground: 98 100% 5%;
    --sidebar-accent: 0 0% 15.9%;
    --sidebar-accent-foreground: 60 14% 96%;
    --sidebar-border: 0 0% 15.9%;
    --sidebar-ring: 98 96% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
